.html{
    background-color: gray;
}

.topnav {
    background-color: rgb(110, 107, 107);
    overflow: hidden;
}
.topnav a {
    float: right;
    color: rgb(113, 113, 204);
    text-align: right;
    padding: 25px 25px;
    font-size: 30px;
    font-family: sans-serif;
}